body {
	margin: 0;
	background-color: #111010; /* aka void in theme.js */
	height: 100vh;
}


.photo {
	display: flex;
	flex-direction: column;
	font-family: sans-serif;
	padding: 10px;
}
.photos-container {
	display: 'flex';
	gap: '10';
	flex-direction: 'column';
	max-height: 100vh;
	overflow-y: scroll;
}

*::-webkit-scrollbar { width: 0 !important }